# Turn on the RewriteEngine
RewriteEngine Off
##############################################################################
# index.php - raiz
##############################################################################